[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
sklearn = "*"
ipykernel = "*"
pandas = "*"
jupyter = "*"
rasterio = "*"
matplotlib = "*"
seaborn = "*"
earthpy = "*"
plotly = "*"
scipy = "*"
statsmodels = "*"
xgboost = "*"
lightgbm = "*"
catboost = "*"
numpy = "*"
jupyterlab-theme-solarized-dark = "*"
jupyterthemes = "*"
openpyxl = "*"
skimpy = "*"
lmfit = "*"
pygwalker = "*"
itables = "*"
summarytools = "*"
jupyterlab-language-pack-pt-br = "*"
ipympl = "*"
lckr-jupyterlab-variableinspector = "*"
jupyterlab-drawio = "*"
eli5 = "*"
tensorflow = "*"
jupyterlab-git = "*"
nbdime = "*"
jupyter-scatter = "*"
jupyter-scheduler = "*"
pandasql = "*"
jupyterlab-fonts = "*"
jupyterlab-lsp = "*"
jupyterlab-horizon-theme = "*"
python-lsp-server = {extras = ["all"], version = "*"}
jupyterlab-geojson = "*"
install = "*"
jupyter-bokeh = "*"

[dev-packages]

[requires]
python_version = "3.11"
