[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
scikit-learn = "*"
ipykernel = "*"
pandas = "*"
jupyter = "*"
rasterio = "*"
matplotlib = "*"
seaborn = "*"
earthpy = "*"
plotly = "*"
scipy = "*"
statsmodels = "*"
xgboost = "*"
lightgbm = "*"
catboost = "*"
numpy = "*"
openpyxl = "*"
skimpy = "*"
lmfit = "*"
pygwalker = "*"
itables = "*"
summarytools = "*"
ipympl = "*"
lckr-jupyterlab-variableinspector = "*"
jupyterlab-drawio = "*"
eli5 = "*"
tensorflow = "*"
jupyterlab-git = "*"
nbdime = "*"
jupyter-scatter = "*"
jupyter-scheduler = "*"
pandasql = "*"
jupyterlab-lsp = "*"
python-lsp-server = {extras = ["all"], version = "*"}
jupyterlab-geojson = "*"
install = "*"
jupyter-bokeh = "*"
jupyterlab-visualpython = "*"
diagrams = "*"
modin = {extras = ["dask"], version = "*"}
mitosheet = "*"
stickyland = "*"
pivottablejs = "*"
hampel = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
lab = "jupyter-lab --notebook-dir=../jupyter-notebooks/"
